@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  background: #000;
}

body {
  font-family: Inter, sans-serif;
  background: black;
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #facc15;
  border-radius: 999px;
}

.glass {
  background: rgba(255,255,255,0.03);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.05);
}

button,
a,
input {
  transition: all 0.3s ease;
}

button:hover,
a:hover {
  transform: translateY(-2px);
}

input:focus {
  border-color: #facc15;
  box-shadow: 0 0 0 2px rgba(250,204,21,0.15);
}

.gradient-text {
  background: linear-gradient(
    135deg,
    #facc15,
    #22c55e
  );

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}